<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tema 1</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hazzard/style.css' %}">
    </head>
    <body>
        <p id = "emailul">You are signed in as <b>{{email}}</b></p>
        <a href="{% url 'hazzard:index' %}">Logout</a>
        <br><br>
        <p class = "center"><b>Error! :( Please try again! </b></p>
        <form action="{% url 'hazzard:back' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="email" value="{{ email }}">
            <input type="submit" name="back" value="Back"><br>
        </form>
    </body> 
</html>