<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tema 1</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hazzard/style.css' %}">
    </head>
    <body>
        <p class = "center"><b>Please enter your e-mail address:</b></p>
        <form action="{% url 'hazzard:login' %}" method="post">
        {% csrf_token %}
            <label for="email">E-mail</label>
            <input type="text" name="email">
            <input type="submit" value="Continue">
        </form>
    </body> 
</html>